.game__container {
	width: fit-content;
	height: fit-content;
}

.game__board__container {
	width: max-content;
	padding: 5px;
	background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.game__row {
	display: flex;
}
.game__score {
	height: 50px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
.score-box {
	background-color: pink;
	height: 50px;
	width: 100px;
	font-weight: 800;
	margin: 2%;
	text-align: center;
	border-radius: 5px;
}
.score-box > .score-text {
	font-size: large;
}
