.game__container {
	width: fit-content;
	height: fit-content;
}

.game__board__container {
	width: max-content;
	padding: 5px;
	background-color: #ad9d8f;
	border-radius: 5px;
}

.game__row {
	display: flex;
}
.game__score {
	height: 50px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}
.score-box {
	background-color: pink;
	height: 50px;
	width: 100px;
	font-weight: 800;
	margin: 2%;
	text-align: center;
	border-radius: 5px;
}
.score-box > .score-text {
	font-size: large;
}
