@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.playbtn {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.playbtn {
  margin-top: 2rem;
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	font-family: 'Julius Sans One', sans-serif, cursive;
  font-weight: 900;
	color: whitesmoke;
	font-size: 20px;
	border-radius: 4px;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
	background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
	background-size: 150%;
	background-position: right;
	transition: 1s;
}

.playbtn:hover {
	background-position: left;
	color: white;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.playbtn:focus {
	outline: none;
}